<!DOCTYPE html>
<html lang="en">


<head>
  <title>Travel Authorization Request</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


<body style="background-color: ghostwhite;">

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

  <ul class="navbar-nav mr-auto">
    <li class="nav-brand" style="color: ghostwhite; font-size: larger;">
      Request Submitted
    </li>
  </ul> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="padding-top: 0; padding-bottom: 0;">

  <ul class="navbar-nav mr-auto">
    <li class="nav-brand " style="color: ghostwhite; font-size: x-large; font-weight: bolder; padding-top: 5px; padding-bottom: 5px;">
      Request Submitted
    </li>
  </ul>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto active">
      <li class="nav-item" style="padding-right: 10px;">
        <a class="nav-link" href="/">Submit Another Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/report">View Submitted Requests</a>
      </li>
    </ul>
  </div>

</nav>

<div class="container-fluid" style="margin-top: 90px;">
  <h4>Travel Authorization Request Form for Employee {{employee_id}} successfully submitted.</h4>
</div>

</body>


</html>